[Unit]
Description=Hyprlock Screen Lock
# Startet automatisch, wenn hypridle startet
PartOf=hypridle.service
BindsTo=hypridle.service
After=hypridle.service

[Service]
Type=simple
ExecStart=/usr/bin/hyprlock
Restart=on-failure
RestartSec=2

[Install]
# Wird nicht direkt beim User-Login gestartet, nur über hypridle
WantedBy=default.target
