#!/usr/bin/env bash
exit

{{ if (contains `arch` .chezmoi.kernel.osrelease) }}

# Install official packages
pacman -S --noconfirm --needed git zsh base-devel neovim kitty yazi

# Install yay from AUR
sudo -u "{{ .chezmoi.username }}" git clone https://aur.archlinux.org/yay.git /tmp/yay
(
  cd /tmp/yay
  sudo -u "{{ .chezmoi.username }}" makepkg -si --noconfirm
)
rm -rf /tmp/yay

# Install AUR packages via yay
sudo -u "" yay -S --noconfirm atuin

{{ end }}



if [ ! -d "${ZDOTDIR:-$HOME}/.zprezto" ]; then
  git clone --recursive https://github.com/sorin-ionescu/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"
fi

# Optionale Zusatzmodule
mkdir -p "${ZDOTDIR:-$HOME}/.zprezto/contrib"
cd "${ZDOTDIR:-$HOME}/.zprezto/contrib"
[ ! -d zsh-autosuggestions ] && git clone https://github.com/zsh-users/zsh-autosuggestions
[ ! -d zsh-syntax-highlighting ] && git clone https://github.com/zsh-users/zsh-syntax-highlighting
